#landing(ng-controller='LandingController as landing')
   h1(ng-bind="landing.heading")
   form.form-inline
      .form-group
         //- label(for='task') Task
         input#task-field.form-control(ng-model='landing.txtTask', type='text', placeholder='E.g. Buy food')
      button.btn.btn-primary(type='submit', data-action='{{landing.action}}', ng-click='landing.postAction(landing.action)') {{landing.postLabel}}
   hr
   ul
       li(ng-repeat="task in landing.tasks track by $index") {{task.name}}
          span(class='glyphicon glyphicon-remove' aria-hidden='true' ng-click = 'landing.removeTask($index)')
          span(class='glyphicon glyphicon-edit' aria-hidden='true' ng-click = 'landing.preEditTask($index)')
