#landing(ng-controller='LandingController as landing')
   h1(ng-bind="landing.heading")
   form.form-inline
      .form-group
         //- label(for='task') Task
         input#task-field.form-control(ng-model='landing.txtTask', type='text', placeholder='E.g. Buy food')
      button.btn.btn-primary(type='submit', ng-click='landing.addTask()') Add task
   hr
   ul
       li(ng-repeat="task in landing.tasks") {{task.name}}
